@font-face {
	font-family: 'swiper-icons';
	src: url(/assets/fonts/swiper-icons-4523a3ffc33e8004c07eaa534ab0bd1c.woff?h=03e1ccc780760b3a353c685ee0405729) format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}